<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.bagal.listeners.FrameworkListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/umajibagal/IdeaProjects/TestFireApiAutomationFramework">
        <classes>
            <class name="com.bagal.tests.login.LoginTests"/>
        </classes>
    </test>
</suite>